<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <title>Filter Sample</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
  <div class="container">
    <div ng-controller="CookieStoreSampleController" style="padding: 20px;">
      <button class="btn" ng-click="saveEventToCookie(event)">Store Cookies</button>
      <button class="btn" ng-click="getEventFromCookie()">Get Cookies</button>
      <button class="btn" ng-click="removeEventFromCookie()">Remove Cookies</button>
    </div>
  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/underscore-1.4.4.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular/angular-resource.js"></script>
  <script src="/lib/angular/angular-cookies.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers/CookieStoreSampleController.js"></script>
</body>
</html>