<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
  <meta charset="utf-8">
  <title>Filter Sample</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/css/app.css"/>
</head>
<body>
  <div class="container">
    <div ng-controller="FilterSampleController" style="padding: 20px;">
      Duration 1: {{data.duration1}}<br />
      Duration 2: {{data.duration2}}<br />
      Duration 3: {{data.duration3}}<br />
      Duration 4: {{data.duration4}}<br />
    </div>
  </div>

  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/underscore-1.4.4.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular/angular-resource.js"></script>
  <!--<script src="/lib/angular/angular-locale_es.js"></script>-->
  <script src="/js/app.js"></script>
  <script src="/js/services/ExceptionHandler.js"></script>
  <script src="js/filters.js"></script>
  <script src="/js/controllers/FilterSampleController.js"></script>
</body>
</html>