<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
  <base href="/" />
  <meta charset="utf-8">
  <title>Event Registration</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  <div class="container">
    <div class="navbar" ng-controller="MainMenuController">
      <div class="navbar-inner">
        <ul class="nav">
          <!--<li><a href="/newEvent">Create Event</a></li>-->
          <li><a href="#" ng-click=createEvent()>Create Event</a></li>
        </ul>
      </div>
    </div>
    <ng-view></ng-view>    
  </div>
  <script src="/lib/jquery.min.js"></script>
  <script src="/lib/underscore-1.4.4.min.js"></script>
  <script src="/lib/bootstrap.min.js"></script>
  <script src="/lib/angular/angular.js"></script>
  <script src="/lib/angular/angular-route.js"></script>
  <script src="/lib/angular/angular-resource.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers/EditEventController.js"></script>
  <script src="/js/controllers/EventController.js"></script>
  <script src="/js/controllers/EventListController.js"></script>
  <script src="/js/controllers/MainMenuController.js"></script>
  <script src="/js/controllers/SampleDirectiveController.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/services/EventData.js"></script>  
  <script src="/js/directives/mySample.js"></script>
  <script src="/js/directives/eventThumbnail.js"></script>
  <script src="/js/directives/datekeys.js"></script>
  <script src="/js/directives/upvote.js"></script>
  <script src="/js/directives/collapsible.js"></script>
</body>
</html>