<div>
  <h1>Events</h1>
  <hr />
  <hr />
  <ul class="thumbnails">
    <li ng-repeat="event in events | orderBy:sortorder" class="span5">
      <event-thumbnail event="event" />
    </li>    
  </ul>
</div>