<div style="padding-left: 20px; padding-right: 20px;">
  <div class="row">
    <div class="span11">
      <!--<h2>{{event.name}}</h2>-->
      <h2 ng-bind="event.name"></h2>
    </div>
  </div>
  <img ng-src="{{event.imageUrl}}" alt="{{event.title}}" />
  
  <div class="row">
    <div class="span3">
      <div><strong>Date:</strong>{{event.date}}</div>
      <div><strong>Time:</strong>{{event.time}}</div>
    </div>
    <div class="span4">
      <address>
        <strong>Address:</strong><br/>
        {{event.location.address}}<br/>
        {{event.location.city}}, {{event.location.province}}
      </address>
    </div>
  </div>
  <button class="btn" ng-click="reload()">Reload</button>
  <hr/>
  <h3>Sessions</h3>
  Order By:
  <select ng-model="sortorder">
    <option value="name">Name</option>
    <option value="-upVoteCount">Votes</option>
  </select>
  Level:
  <select ng-model="query.level">
    <option value="">All</option>
    <option value="introductory">Introductory</option>
    <option value="intermediate">Intermediate</option>
    <option value="advanced">Advanced</option>
  </select>
  <ul class="thumbnails">
    <li ng-repeat="session in event.sessions | orderBy: sortorder | filter: query" id="session{{session.id}}">          
      <div class="row session">
        <upvote upvote="upVoteSession(session)" downvote="downVoteSession(session)" count="session.upVoteCount"/>
        <div class="well span9">
          <collapsible title="{{session.name}}">
            <h6 style="margin-top:-10px;">{{session.creatorName}}</h6>
            <span>Duration: {{session.duration | durations}}</span><br/>
            <span>Level: {{session.level}}</span>
            <p>{{session.abstract}}</p>
          </collapsible>
        </div>
      </div>
    </li>
  </ul>
</div>