<div style="padding-left: 20px; padding-right: 20px;">
  <div class="container">
    <h1>New Event</h1>
    <hr/>
    <form name="newEventForm">
      <fieldset>
        <label for="eventName">Event Name:</label>
        <input type="text" id="eventName" ng-model="event.name" placeholder="Name of your event..." required>
        <label for="eventDate">Event Date:</label>
        <input type="text" id="eventDate" date-keys ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format (mm/dd/yyyy)..." required>
        <label for="eventTime">Event Time:</label>
        <input type="text" id="eventTime" ng-model="event.time" placeholder="Start and end time...">
        <label for="eventLocation">Event Location:</label>
        <input type="text" id="eventLocation" ng-model="event.location.address" placeholder="Address of event...">
        <br />
        <input type="text" id="eventCity" ng-model="event.location.city" class="input-small" placeholder="City...">
        <input type="text" id="eventProvince" ng-model="event.location.province" class="input-small" placeholder="Province...">

        <label for="eventImageUrl">Image:</label>
        <input type="url" id="eventImageUrl" ng-model="event.imageUrl" class="input-xlarge" placeholder="Url of the image...">
      </fieldset>
      <img ng-src="{{event.imageUrl}}" src="">
      <br />
      <br />
      <button type="submit" ng-disabled="newEventForm.$invalid" class="btn btn-primary" ng-click="saveEvent(event, newEventForm)">Save</button>
      <button type="button" class="btn btn-default" ng-click="cancelEdit()">Cancel</button>
    </form>
  </div>
</div>